* {
    padding: 0;
    margin: 0;
}

/* Styling the list tags to the 
right of the navigation bar 
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
Styling the anchor tags of 
the navigation bar */

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

/* Styling for hover effect */
a:hover {
    text-decoration: underline;
}